.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1d1f;
}

.main {
  min-height: 300px;
  padding: 4rem 0;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: ##2c2f36;
}
